

.content {
  width: 100%;
  display: grid;
  column-gap: 0.5em;
  flex-direction: row;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.loading {
  width: 100%;
  display: grid;
  column-gap: 0.5em;
  flex-direction: row;
  margin-bottom: 0.5em;
  grid-template-columns: repeat(3, 1fr);
}